/* Chat styles */
.chat-page {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 140px); /* Adjust this value to account for the navbar and banner height */
    overflow: hidden;
}

.chat-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
    margin-bottom: 60px; /* Adjust this value to account for the input container height */
}

#chat-container {
    position: relative;
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#chat-container::before {
    content: "";
    background-image: url('/static/img/ai-lab-assistant-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.1;  /* Adjust this value to make the logo more or less visible */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.input-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #d4d4d4;
    z-index: 1000;
    display: flex;
    justify-content: center;
    width: 100%;
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

#user-input {
    flex-grow: 1;
    border: 1px solid #ced4da;
    padding: 0.5rem 1rem;
    font-size: 16px;
    margin-right: 10px;
}

#send-button {
    background-color: #00a35c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.chat-bubble {
    max-width: 80%;
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 18px;
    position: relative;
    clear: both;
}

.chat-bubble.user {
    background-color: #dcf8c6;
    align-self: flex-end;
}

.user {
    background-color: #dcf8c6;
    float: right;
    border-bottom-right-radius: 0;
}

.assistant {
    background-color: #faf1c9;
    float: left;
    border-bottom-left-radius: 0;
}

.bubble-content {
    word-wrap: break-word;
}


.chat-bubble.assistant table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
    background-color: #93dcd2;
}

.chat-bubble.assistant th,
.chat-bubble.assistant td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.chat-bubble.assistant th {
    background-color: #f2f2f2;
}

.chat-bubble.assistant a {
    color: #0066cc;
    text-decoration: none;
}

.chat-bubble.assistant a:hover {
    text-decoration: underline;
}

/* Feedback popup styles */
#feedback-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

.close-feedback-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

#feedback-scale {
    margin-top: 20px;
}

.feedback-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin: 0 5px;
    transition: transform 0.2s;
}

.feedback-button:hover {
    transform: scale(1.2);
}

#feedback-response {
    text-align: center;
    font-weight: bold;
}

#mic-button.active, #voiceover-toggle.active {
    background-color: #e0e0e0;
    border-radius: 50%;
}

.input-wrapper {
    position: relative;
    flex-grow: 1;
    margin-right: 10px;
}

#user-input {
    width: 100%;
    padding-right: 30px; /* Make room for the mic button */
}

#mic-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#send-button, #voiceover-toggle {
    margin-left: 5px;
}

.carousel-item img {
    object-fit: cover;
    height: 400px; /* Adjust this value as needed */
}

.carousel-caption {
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
}
.dropdown-menu.show {
    display: block;
}

.dropdown-menu {
    display: none;
}

.dropdown-menu.show {
    display: block;
}
.autocomplete-wrapper {
    position: absolute;
    bottom: 90%; /* Position above the input */
    left: 0;
    right: 0;
    z-index: 1001; /* Higher than the input-container */
}

.autocomplete-dropdown {
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.1);
}

.autocomplete-item {
    padding: 10px;
    cursor: pointer;
    background-color: #eee;
    border-bottom: 1px solid #ced4da;
}

.autocomplete-item:hover,
.autocomplete-item:focus {
    background-color: #f8f9fa;
}

.autocomplete-active {
    background-color: #e9ecef;
}

.feedback-icon {
    border: none;
    background: none;
    font-size: 18px;
    color: #777;
    opacity: 0.7;
    transition: opacity 0.3s ease, color 0.3s ease;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
}

.feedback-icon:hover {
    opacity: 1;
}

.thumbs-up:hover {
    color: #4CAF50;
}

.thumbs-down:hover {
    color: #F44336;
}

.feedback-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.feedback-text {
    color: #666;
    margin-right: 10px;
}