:root {
    --mongodb-green: #00ED64;
    --mongodb-dark-green: #027532;
    --mongodb-blue: #016BF8;
    --mongodb-yellow: #FFDD00;
    --mongodb-red: #FF0000;
    --mongodb-gray-light: #F9FBFA;
    --mongodb-gray-dark: #21313C;
  }
  
  body {
    font-family: 'Euclid Circular A', 'Helvetica Neue', sans-serif;
    color: var(--mongodb-gray-dark);
    background-color: var(--mongodb-gray-light);
  }

/* Primary buttons */
.btn-primary {
    background-color: var(--mongodb-green);
    border-color: var(--mongodb-green);
    color: var(--mongodb-dark-blue);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #00C454 !important;
    border-color: #00C454 !important;
    color: var(--mongodb-dark-blue) !important;
}

/* Secondary buttons */
.btn-secondary {
    background-color: #027532;
    border-color: #035324;
    color: white;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: #005A3E !important;
    border-color: #005A3E !important;
    color: white !important;
}

/* Outline buttons */
.btn-outline-primary {
    color: var(--mongodb-green);
    border-color: var(--mongodb-green);
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
    background-color: var(--mongodb-green) !important;
    color: var(--mongodb-dark-blue) !important;
}

/* Navbar */

.navbar-nav .nav-item .nav-link img {
    filter: brightness(0) saturate(100%) invert(11%) sepia(20%) saturate(805%) hue-rotate(155deg) brightness(97%) contrast(98%);
    transition: filter 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover img {
    filter: brightness(0) saturate(100%) invert(80%) sepia(71%) saturate(397%) hue-rotate(95deg) brightness(103%) contrast(103%);
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link a {
    color: var(--mongodb-dark-green); /* MongoDB green for the name link */
    text-decoration: none;
    transition: color 0.3s ease;
}

/* */


.navbar-brand:hover,
.nav-link.active-page {
    color: #00a35c;
}

.navbar-nav .nav-link {
    color: #333;
    padding: 10px 15px;
}

.nav-link.active-page {
    font-weight: bold;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    color: #333;
}

.navbar-collapse,
.collapse,
.navbar-nav .nav-item {
    background-color: #f7f8f9;
}

.navbar-nav .nav-item {
    margin: 0 5px;
}

/* Table */
.table thead th {
    background-color: var(--mongodb-light-blue);
    color: var(--mongodb-gray-dark);
}

/* Form controls */
.form-control:focus {
    border-color: var(--mongodb-green);
    box-shadow: 0 0 0 0.2rem rgba(0, 237, 100, 0.25);
}

/* Custom checkbox */
.custom-control-input:checked~.custom-control-label::before {
    background-color: var(--mongodb-green);
    border-color: var(--mongodb-green);
}

/* Modals */
.modal-header {
    background-color: var(--mongodb-green);
    color: var(--mongodb-green);
}

/* Alerts */
.alert-primary {
    background-color: var(--mongodb-gray);
    border-color: var(--mongodb-light-blue);
    color: var(--mongodb-dark-blue);
}

/* Badges */
.badge-primary {
    background-color: var(--mongodb-green);
    color: var(--mongodb-dark-blue);
}

/* Pagination */
.page-item.active .page-link {
    background-color: var(--mongodb-green);
    border-color: var(--mongodb-green);
    color: var(--mongodb-dark-blue);
}

.page-link {
    color: var(--mongodb-light-blue);
}

.page-link:hover {
    color: var(--mongodb-dark-blue);
}

/* Custom styles */
.mongodb-bg-dark {
    background-color: var(--mongodb-dark-blue);
    color: white;
}

.mongodb-text-green {
    color: var(--mongodb-green);
}

.mongodb-text {
    color: var(--mongodb-dark-blue);
}

.card-title {
    font-weight: bold;
}

/* Add this to your styles.css */
.dropdown-menu {
    display: none;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-item:hover, .dropdown-item:focus {
    background-color: var(--mongodb-gray);
    color: var(--mongodb-dark-blue);
  }

  .mongodb-loader {
    width: 60px;
    height: 60px;
    position: relative;
    margin: 20px auto;
}

.mongodb-loader:before,
.mongodb-loader:after {
    content: '';
    position: absolute;
    background-color: #4DB33D; /* MongoDB green color */
}

.mongodb-loader:before {
    width: 80%;
    height: 80%;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    left: 10%;
    top: 10%;
    animation: pulse 1s infinite ease-in-out;
}

.mongodb-loader:after {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: #fff; /* White circle */
    top: 30%;
    left: 30%;
    animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    background-color: transparent !important;
}

.question-form {
    width: 90%;
}
.modal-dialog.wide-modal {
    max-width: 90%; /* Adjust this value as needed */
    width: 90%;
  }
  
  /* For smaller screens, you might want to limit the minimum width */
  @media (max-width: 768px) {
    .modal-dialog.wide-modal {
      max-width: 95%;
      width: 95%;
    }
    @media (min-width: 768px) {
      .sample-question-card {
          width: calc(25% - 1rem);  /* Adjust for 4 cards per row */
      }
    }
  }
  .sample-questions-container {
    background-color: #f9fbfa;
    padding: 12px;
    border-radius: 8px;
  }
  .sample-question-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  .sample-question-card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  .sample-question-card .card-title {
    color: #13aa52;  /* MongoDB Green */
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .sample-question-card .card-title i {
    margin-right: 9px;
    font-size: 0.7em;
  }
  .sample-question-card .card-text {
    color: #1c2d5a;
    font-size: smaller;
  }
  .sample-question-card .btn-outline-primary {
    color: #13aa52;
    border-color: #13aa52;
  }
  .sample-question-card .btn-outline-primary:hover {
    background-color: #13aa52;
    color: #ffffff;
  }

  #workflow-animation {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
  }
  .system-component {
    fill: #ffffff;
    stroke: #13aa52;
    stroke-width: 2;
  }
  .system-text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    fill: #1c2d5a;
  }
  #data-point {
    fill: #13aa52;
  }